GEO_API_KEY=
GEO_API_URL=
BASE_URL=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
CALENDARIFIC_API_KEY=
CALENDARIFIC_API_URL=
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
